<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- STYLE SHEETS -->
    
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css-style/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css-style/style.css' %}">

    <script src="{% static 'js/main.js' %}" defer></script>
    {% block extra_scripts %}

    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right"
            >
            <i class="fa fa-bars"></i>
            </button>
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a
                      class="nav-link active home"
                      aria-current="page"
                      href="{% url 'posts:posts_list' %}"
                      >WRITELUX</a
                    >
                </li>
                {% if user.is_authenticated %} 
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle no_arrow"
                    href="{% url 'dashboard' %}"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Dashboard
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle no_arrow"
                    href="{% url 'image' %}"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    images
                  </a>
                </li>
                <li class="nav-item dropdown">
                    <div class="write">
                      <a
                        class="nav-link dropdown-toggle no_arrow"
                        href="{% url 'posts:new_post' %}"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        CREATE
                      </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="{% url 'fitness:fitness_items' %}"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    More
                  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}"
                      ><button class="btn text-light me-1" type="button">
                        LOGOUT
                      </button></a
                    >
                </li>
                </ul>
              </div>
            </div>

        <!-- <a href="{% url 'home' %}">WriteLux</a>
        <form class="logout" action="{% url 'users:logout_user' %}" method='POST'>
            {% csrf_token %}
            <button class="logout-button" aria-label="logout user" title="logout user">logout</button>
        </form>
        {% else %}
        <a href="{% url 'users:register' %}"><span role="img" aria-label="User Registration" title="User Registration">Registration</span></a>

        <form class="login" action="{% url 'users:login_user' %}">
            {% csrf_token %}
            <button class="login-button" aria-label="user login" title="user login">Login</button>
        </form>
        
    
        {% endif %} -->
    </nav>


    <div class="grid-container">
        <aside class="sidebar">
            <div class="content1">
                {% block content1 %}
                
                {% endblock %}
            </div>

            <div class="content1A">
                {% block content1A %}
                
                {% endblock %}
            </div>

        </aside>
        <main>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
            
            {% endblock %}
        </main>
        <aside class="sidebar">
            {% block content2 %}
            
            {% endblock %}
        </aside>
    </div>
    <footer>
        <p>&copy; 2024 WriteLux. All rights reserved.</p>
    </footer>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"
></script>
</body>
</html>
